
@keyframes identifier {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-webkit-keyframes identifier {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes burger {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(100vw - 100px));
        opacity: 0.5;
    }

    100% {
        transform: translateX(0vw);
    }
}

@-webkit-keyframes burger {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(100vw - 100px));
        opacity: 0.5;
    }

    100% {
        transform: translateX(0vw);
    }
}

.size-hero {
    height: 500px;
    width: 100vw;
}

.hero {
    position: relative;
    width: 100vw;
}


.hero-img {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.hero-img-one {  
    background-image: url("https://assets.unileversolutions.com/recipes-v2/239972.jpg")
}

.hero-img-twho {
    background-image: url("https://eci.contebio.com/material/aptc/images/aptc/2316406/hamburguesa-torres_0.jpg"); 
    animation: identifier 20s ease 5s infinite;
        -webkit-animation: identifier 20s ease 5s infinite;
}




.menu-burger {
    background-image: url("../images/logo.png");
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 50px;
     animation: burger 5s ease infinite; 
    -webkit-animation: burger 5s ease infinite; 
        
}


@media all and (min-width: 740px) {
    .size-hero {
            height: 600px;
            width: 100vw;
        }

}

@media all and (min-width: 1024px) {
    .size-hero {
        height: 800px;
        width: 100vw;
    }

}