/* variables */
.sice-letter {
    font-size: 16px;
}


/* section About-us */


.about {
    background-color: black;
    text-align: center;
    color: white;

}
.hr {
    width: 80px;
    margin: 0 auto;
}

.article-two {
    margin: 0 50px;
    padding-bottom: 40px;
}

.about__img { 
    margin: 40px 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px ridge rgb(255, 248, 245);
    box-shadow: 2px 2px 4px rgba(240, 121, 11, 0.5);
}


.about__title {
    margin: 30px 0 15px 0;

}

@media all and (min-width: 740px) {
    .hr {
            width: 1px;
            height: 210px;
            margin: auto 0;
        }
    .about {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .about__article {
            width: 50%;
            max-width: 600px;
        }
    
        .about__img {
            width: 250px;
            height: 250px;
        }

}

@media all and (min-width: 1024px) {
    .about__img {
            width: 200px;
            height: 200px;
        }

     .hr {
        height: 100px; }
}


/* animation burguer */


@keyframes burger {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(100vw - 100px));
        opacity: 0.5;
    }

    100% {
        transform: translateX(0vw);
    }
}

@-webkit-keyframes burger {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(100vw - 100px));
        opacity: 0.5;
    }

    100% {
        transform: translateX(0vw);
    }
}



.menu-burger {
    background-image: url("../images/logo.png");
    width: 200px;
    height: 50px;
     animation: burger 5s ease infinite; 
    -webkit-animation: burger 5s ease infinite; 
        
}


