/* variables */
.sice-letter {
    font-size: 16px;
}


/* section About-us */


.about {
    background-color: black;
    text-align: center;
    color: white;

}
.hr {
    width: 80px;
    margin: 0 auto;
}

.article-two {
    margin: 0 50px;
    padding-bottom: 40px;
}

.about__img { 
    margin: 40px 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px ridge var(--color-green);
    box-shadow: 2px 2px 10px rgba(255, 255, 254, 0.5);
}


.about__title {
    margin: 30px 0 15px 0;
    color: var(--color-brown);

}

@media all and (min-width: 740px) {
    .sice-letter {
            font-size: 18px;
        }
    .hr {
        display: none;
        }
    .about {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .about__article {
            margin-top: 100px;
            width: 50%;
            max-width: 600px;
        }
    
        .about__img {
            width: 250px;
            height: 250px;
        }
                .article-two {
                    text-align: start;
                }

}

@media all and (min-width: 1024px) {
    .sice-letter {
            font-size: 20px;
        }
    .about__img {
            width: 400px;
            height: 400px;
        }

     .hr {
        height: 100px; }
}


/* animation burguer */


@keyframes burger {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(100vw - 100px));
        opacity: 0.5;
    }

    100% {
        transform: translateX(0vw);
    }
}

@-webkit-keyframes burger {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(100vw - 10px));
        opacity: 0.5;
    }

    100% {
        transform: translateX(0vw);
    }
}



.menu-burger {
    background-image: url("../images/favicon.png");
    width: 60px;
    height: 60px;
     animation: burger 5s ease infinite; 
    -webkit-animation: burger 5s ease infinite; 
    margin: 10px 0;
        
}


/* section menu */

.img-transform-turn {
    transform: rotate(0.5turn) translateY(2px);
    width: 100%;
}

.img-transform {
    width: 100%;
    transform: translateY(5px);
}

.menu {
     text-align: center;


}

.menu__title {
    color: var(--color-brown);
    font-size: 40px;
    margin: 0 auto;
}

.menu__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.menu__items {
list-style: none;
  max-width: 270px;
  margin: 30px 30px;
  text-align: start;
}

.menu__price {
    color: var(--color-brown);
    margin-left: 10px;
}

.menu__items--title {
font-size: 18px;
    margin-bottom: 3px;
    color: var(--color-green);
}

@media all and (min-width: 740px) {
.menu__item {
    margin: 40px 40px; 

}

}

@media all and (min-width: 1024px) {
    .menu__item {
            margin: 0 200px;
    
        }

}